Repository eic/containers: changes, and which GitLab CI jobs are due for each by the changed paths.
All: init:builder-nc, init:release-nc

Path conditions:
  init:builder-nc: any of: containers/builder/Dockerfile, containers/builder/spack.yaml, spack/packages/**/*
  init:release-nc: any of: containers/release/Dockerfile.in, containers/release/configure_release.sh

fixing gitlab-ci
  .gitlab-ci.yml
Due: none

Added global tag
  .gitlab-ci.yml
Due: none

Fix multipline script elements
  .gitlab-ci.yml
Due: none

Now also dynamically configure singularity definition for consistency
  .gitlab-ci.yml
  containers/release/configure_release.sh
  containers/release/eic-unstable.def
  containers/release/eic.def.in
Due: init:release-nc

test change to dependent file to trigger no-cache build
  spack/packages/acts/package.py
Due: init:builder-nc

streamlined config step
  .gitlab-ci.yml
  containers/release/configure_release.sh
Due: init:release-nc

fixed syntax error
  containers/release/configure_release.sh
Due: init:release-nc

depend to get rid of one of the global artifact dirs
  .gitlab-ci.yml
Due: none

bumped version number
  README.md
  VERSION
Due: none

Re-factor repository workflow according to #13.
  .gitlab-ci.yml
  .gitlabci/setup.sh
  .gitlabci/sregistry-gitlab.png
  .gitlabci/sregistry-gitlab.xcf
  README.md
  containers/builder/Makefile
  containers/builder/config.env
  containers/builder/eic_builder.def
  containers/builder/spack.yaml
  containers/builder/version.sh
  containers/release/Makefile
  containers/release/config.env
  containers/release/version.sh
  gitlab-ci/build_and_deploy.yml.in
  gitlab-ci/configure_pipeline.sh
  gitlab-ci/docker/Makefile
  gitlab-ci/docker/version-stable.sh
  gitlab-ci/docker/version.sh
  gitlab-ci/singularity/build.sh
  install.py
Due: init:builder-nc

fixed issue with stable version number
  gitlab-ci/docker/Makefile
  gitlab-ci/docker/version-stable.sh
Due: none

tweaked caching strategy
  .gitlab-ci.yml
Due: none

fix bug in configure_release and add missing config artifacts to singularity stage
  containers/release/configure_release.sh
  gitlab-ci/build_and_deploy.yml.in
Due: init:release-nc

fix mistake in singularity build directive
  gitlab-ci/build_and_deploy.yml.in
Due: none

fixed some issues for CI running on tags
  gitlab-ci/build_and_deploy.yml.in
  gitlab-ci/configure_pipeline.sh
Due: none

Resolve "Singularity download approach doesn't work in child pipeline"
  .gitlab-ci.yml
  containers/release/configure_dockerfile.sh
  gitlab-ci/build_and_deploy.yml.in
  gitlab-ci/configure.sh
  install.py
Due: none

Fixed issue with corrupt build-cache that led to an incomplete build
  .gitlab-ci.yml
  README.md
  containers/build_and_deploy.yml.in
  containers/builder/Dockerfile
  containers/builder/spack.yaml
  containers/builder/update_buildcache.sh
  gitlab-ci/configure.sh
  spack/packages/acts/package.py
  spack/packages/podio/cpack.patch
  spack/packages/podio/dictloading.patch
  spack/packages/podio/package.py
  spack/packages/root/package.py
Due: init:builder-nc

modified: builder/Dockerfile
  containers/builder/Dockerfile
Due: init:builder-nc

Downgrade eigen back to previous version as this seems to be the root of the issue
  containers/builder/spack.yaml
Due: init:builder-nc

force ACTS to use eigen 3.3.7
  containers/builder/spack.yaml
Due: init:builder-nc

Disabled binary stripping for release image
  containers/release/Dockerfile.in
Due: init:release-nc

Do not enforce no-cache builds on changes do Dockerfiles, Docker takes care of this
  .gitlab-ci.yml
Due: none

Fix issue where ACTS was built with unresolved symbols in the library.
  containers/builder/Dockerfile
  containers/builder/spack.yaml
  containers/builder/update_buildcache.sh
  containers/release/Dockerfile.in
  gitlab-ci/docker/Makefile
  spack/packages/acts/README.md
  spack/packages/eigen/package.py
  spack/packages/xcb-proto/package.py
  spack/packages/xcb-proto/python-fix.patch
  spack/packages/xcb-proto/xcb-proto-1.12-schema-1.patch
Due: init:builder-nc, init:release-nc

re-enabled stripping for release image
  containers/release/Dockerfile.in
Due: init:release-nc

Update ACTS to version 4.1 and Eigen to version 3.3.8. First merge towards version 2.6.
  VERSION
  containers/builder/spack.yaml
  spack/packages/acts/README.md
  spack/packages/acts/package.py
  spack/packages/eigen/package.py
Due: init:builder-nc

Added opencascade
  README.md
  VERSION
  containers/builder/spack.yaml
Due: init:builder-nc

Updated Acts to v5 and bumped minor version number
  VERSION
  containers/builder/spack.yaml
  spack/packages/acts/package.py
Due: init:builder-nc

Adding MAD-X package
  .gitlab-ci.yml
  containers/builder/spack.yaml
  gitlab-ci/docker/Makefile
  spack/packages/madx/README.md
  spack/packages/madx/package.py
Due: init:builder-nc

modified: madx/package.py
  spack/packages/madx/package.py
Due: init:builder-nc

Update underlying container to debian/testing-20210408 and later Spack version
  VERSION
  containers/builder/Dockerfile
  containers/builder/spack.yaml
  containers/release/Dockerfile.in
  spack/README.md
  spack/packages/acts/README.md
  spack/packages/acts/package.py
  spack/packages/dawn/package.py
  spack/packages/dawncut/package.py
  spack/packages/dd4hep/package.py
  spack/packages/dd4hep/tbb-workarounds.patch
  spack/packages/dd4hep/tbb2.patch
  spack/packages/fmt/package.py
  spack/packages/geant4/CLHEP-10.03.03.patch
  spack/packages/geant4/cxx17.patch
  spack/packages/geant4/cxx17_geant4_10_0.patch
  spack/packages/geant4/geant4-10.4.3-cxx17-removed-features.patch
  spack/packages/geant4/package.py
  spack/packages/graphviz/fix-quartz-darwin.patch
  spack/packages/graphviz/implicit.patch
  spack/packages/graphviz/package.py
  spack/packages/graphviz/ps2pdf.patch
  spack/packages/mesa/package.py
  spack/packages/podio/cpack.patch
  spack/packages/podio/dictloading.patch
  spack/packages/podio/package.py
  spack/packages/root/package.py
  spack/packages/xcb-proto/package.py
  spack/packages/xcb-proto/python-fix.patch
  spack/packages/xcb-proto/xcb-proto-1.12-schema-1.patch
Due: init:builder-nc, init:release-nc

Fix double-bump to version number
  README.md
  VERSION
Due: none

Update README.md
  README.md
Due: none

Bump version number
  VERSION
Due: none

minor restructure of dockerfile, add dd4hep 4.16/cmake 3.20 fix
  containers/builder/Dockerfile
  gitlab-ci/docker/Makefile
Due: init:builder-nc

Upgrade ACTS to v8.1
  containers/builder/spack.yaml
  spack/README.md
  spack/packages/acts/package.py
  spack/packages/eicd/package.py
  spack/packages/npdet/package.py
Due: init:builder-nc

Added select extra python packages
  containers/builder/Dockerfile
Due: init:builder-nc

Bump internal version number
  VERSION
Due: none

Resolve "Add gitlab-runner"
  VERSION
  containers/release/Dockerfile.in
Due: init:release-nc

excluded all python packages from stripping, and addressed stripping-related warnings.
  VERSION
  containers/release/Dockerfile.in
Due: init:release-nc

modified: containers/builder/spack.yaml
  containers/builder/spack.yaml
Due: init:builder-nc
